In [1]:
from surprise import Dataset
from surprise import Reader
import pandas as pd

In [2]:
movie_path = 'C:/Users/n_int/Documents/ML project/RecSys-Materials/ml-latest-small/movies.csv'
rating_path = 'C:/Users/n_int/Documents/ML project/RecSys-Materials/ml-latest-small/ratings.csv'

In [3]:
# reader = Reader(line_format='movieId title genres',sep = ",")
# movies = Dataset.load_from_file(movie_path,reader=reader)

In [4]:
movies = pd.read_csv(movie_path,sep=',')

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
rating = pd.read_csv(rating_path,sep=',')

In [7]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [8]:
df = pd.merge(movies,rating,on='movieId')

In [10]:
df.head(5)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091